    <div id="score-backdrop" class="hidden"></div>
      <div class="score-dialog">

        <div class="score-header">
          <h3>SHUT IT DAOWN</h3>
          <button type="button" id="score-close" class="score-hide-button">&times;</button>
        </div>

        <div class="score-body">

          <img src="star.png" alt="Green Earth logo">

          <div class="score-footer">
            <button type="button" id="close-score" class="score-hide-button action-button">Close</button>
          </div>

        </div>
      </div>
