    <div id="score-backdrop" class="hidden"></div>
      <div class="score-dialog">

        <div class="score-header">
        </div>

        <div class="score-body">

          <img src="star.png" alt="Green Earth logo" class="image-backdrop">
          <img src="star.png" alt="Green Earth logo" class="image-backdrop">
          <img src="star.png" alt="Green Earth logo" class="image-backdrop">
          <img src="star.png" alt="Green Earth logo" class="image-backdrop">
          <img src="star.png" alt="Green Earth logo" class="image-backdrop">

          <div class="score-footer">
            <button type="button" id="close-score" class="score-hide-button action-button">Close</button>
          </div>

        </div>
    </div>
