<header>
<!-- DELETE THIS PART -->
  <div class="header-image-container">
    <img src="logo.png" alt="Green Earth logo">
  </div>

  <div class="top-text-container">
    <h1 class="site-title"><a href="#">How Green Are You?</a></h1>
  </div>

</header>
