<header>
<!-- DELETE THIS PART -->
  <div class="header-image-container">
    <img src="greenEarth.jpg" alt="Green Earth logo">
  </div>

  <h1 class="site-title"><a href="#">How Green Are You?</a></h1>

</header>
