<!--

<button type="button" id="score-button"><i class="fas fa-plus"></i></button>

    <div id="score-backdrop" class="hidden"></div>
    <div id="sell-something-modal" class="hidden">
      <div class="score-dialog">

        <div class="modal-header">
          <h3>Check Score</h3>
          <button type="button" id="score-close" class="score-hide-button">&times;</button>
        </div>

        <div class="score-body">

-->
          <!-- Insert picture -->

<!--
          <div class="score-footer">
            <button type="button" id="close-score" class="score-hide-button action-button">Close</button>
          </div>

        </div>
      </div>
-->
<button id="filter-update-button" class="action-button">Check Score</button>
