  <div class="question-header">
    <h2>Questions</h2>
  </div>

 {{> questions question1}}

<div class="followup" id="question-1-followup">
  <label for="question-1-followup">What do you recycle?</label>
  <div class="variable-input-element">
    <select id="question-1-followup-select" class="filter-input" name="question-1-followup">
      <option selected value="">Any</option>
      <option>Plastic, aluminum, glass and paper</option>
      <option>Just 3 of the above</option>
      <option>Just 2 of the above</option>
      <option>Just 1 of the above</option>
    </select>
  </div>
</div>

 {{> questions question2}}

  <div class="followup" id="question-2-followup">
    <label for="question-2-followup">How many kilometers do you drive each week?</label>
    <div class="variable-input-element">
      <select id="question-2-followup-select" class="filter-input" name="question-2-followup">
        <option selected value="">Any</option>
        <option>10km or less</option>
        <option>11-20km</option>
        <option>21-30km</option>
        <option>31-40km</option>
        <option>41-50km</option>
        <option>50 or more</option>
      </select>
    </div>
  </div>

{{> questions question3}}
  <div class="followup" id="question-3-followup">
    <label for="question-3-followup">How many times a week do you eat meat?</label>
    <div class="variable-input-element">
      <select id="question-3-followup-select" class="filter-input" name="question-3-followup">
        <option selected value="">Any</option>
        <option>Less than 10</option>
        <option>3 or less</option>
        <option>4-6</option>
        <option>7-9</option>
        <option>10-12</option>
        <option>13-15</option>
        <option>16-18</option>
        <option>19 or more</option>
      </select>
    </div>
  </div>

  {{> questions question4}}
    <div class="followup" id="question-4-followup">
      <label for="question-4-followup">Do you ever fly?</label>
      <div class="variable-input-element">
        <select id="question-4-followup-select" class="filter-input" name="question-4-followup">
          <option selected value="">Any</option>
          <option>Once a year</option>
          <option>Twice a year</option>
          <option>3 times a year</option>
          <option>4 times a year</option>
          <option>5 times a year</option>
          <option>6 times a year</option>
          <option>7 times a year</option>
          <option>8 times a year</option>
          <option>9 times a year</option>
          <option>10 times or more a year</option>
        </select>
      </div>
    </div>

    {{> questions question5}}
      <div class="followup" id="question-5-followup">
        <label for="question-5-followup">How many times a week do you eat meat?</label>
        <div class="variable-input-element">
          <select id="question-5-followup-select" class="filter-input" name="question-5-followup">
            <option selected value="">Any</option>
            <option>I walk or take the bike</option>
            <option>I like to take my electric car</option>
            <option>I like to drive my hybrid car</option>
            <option>I like to take my scooter</option>
            <option>I like to take my regular car</option>
            <option>I like to take my hummer</option>
            <option>I like to take my monster truck</option>
            <option>I like to take my rocket ship</option>
            <option>I like to drive in circles with my Nascar car before going anywhere</option>
          </select>
        </div>
      </div>

      {{> questions question6}}
        <div class="followup" id="question-5-followup">
          <label for="question-5-followup">Which of these describes you the best?</label>
          <div class="variable-input-element">
            <select id="question-5-followup-select" class="filter-input" name="question-5-followup">
              <option selected value="">Any</option>
              <option>I take short showers and never let the water run when I'm not using it</option>
              <option>I take short showers but I don't mind letting the water run while brushing my teeth</option>
              <option>I take long showers but I don't let the water run when I'm not using it</option>
              <option>I take long showers and I don't care about letting the water run.</option>
              <option>Remember that flood in Mississippi? That was me..</option>
            </select>
          </div>
        </div>

        {{> questions question7}}
          <div class="followup" id="question-5-followup">
            <label for="question-5-followup">Which of these describes you the best?</label>
            <div class="variable-input-element">
              <select id="question-5-followup-select" class="filter-input" name="question-5-followup">
                <option selected value="">Any</option>
                <option>I turn off everything except for a few lights so burglers think I'm home</option>
                <option>I turn off the lights in my reach, and leave the rest</option>
                <option>I have everything turned on always, because it takes too long to turn it off and on</option>
              </select>
            </div>
          </div>
