<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>How Green Are You?</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js"></script>
	<script src="/postTemplate.js"></script>
  <script src="/index.js" charset=utf-8 defer></script>

    <link rel="stylesheet" href="/style.css">

    <script src="/index.js" charset="utf-8" defer></script>
</head>
<body>
  {{> logo}}
     {{{body}}}
 {{> backdrop}}
</body>

</html>
