body {
  font-family: 'Georgia';
  margin: 0;
  background-image: url('background.png');
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #93C63B;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: white;
  background: transparent;

  display: flex;
  align-items: center;
  position: relative;
}

header a {
  color: black;
}

.action-button:hover {
  background-color: #f9d2b2;
  border-color: #333;
  color: #333;
}

#check-score-button{
  background-color: #93C63B;
  width: 30%;
  height: 20%;
}

.site-title {
  font-family: "Georgia", serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
}

.site-title a:hover {
  text-decoration: none;
}

.content {
  display: flex;
}

.filter-container {
  margin: auto;
  width: 50%;
  border: 3px solid #93C63B;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, .5);
}

.variable-input-element{
	margin: auto;
	width: 100%;
	padding: 10px;
}

.error-container, input[type=text], select, fieldset, button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

select:hover{
	cursor: pointer;
}

.followup {
	display: none;
}

.hidden{
	display: none;
}

.header-image-container img{
	height: 200px;
	width: 200px;
}

.site-title{
	font-weight: bold;
	color: #003300;
	text-decoration: underline;
	text-transform: uppercase;
}