body {
  font-family: 'Georgia';
  margin: 0;
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
}

header a {
  color: green;
}

.site-title {
  font-family: "Georgia", serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
}

.site-title a:hover {
  text-decoration: none;
}

.content {
  display: flex;
}

.filter-container {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.variable-input-element{
	margin: auto;
	width: 100%;
	padding: 10px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

select:hover{
	cursor: pointer;
}
